<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class="text-primary">Welcome</h1>
        <h6>Web App to display dummy data</h6>
    </div>
</div>
